node_modules/*
puzzles_db/*
dist/*
.env
*.env
.DS_Store
.vscode/
.idea/
coverage/
*.pdf
.logs
auto_post/chess_env/*
auto_post/frames


auto_post/chess_short*
auto_post/chess_short.mp4
auto_post/temp/*
auto_post/chess_short.mp4


auto_post/output_video

experiments/*
fb_auto_post/env/*

reports/*

nohub.out

meme_video_maker/fb_cookies.json
*/fb_cookies.json

meme_video_maker/venv

auto_post_legends/output_video/*

meme_video_maker/output_videos/*
meme_video_maker/output_videos/meme_video.mp4

auto_post_legends/legend_games.db
